<app-header titulo="card"></app-header>


<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, iure alias consequatur sequi atque, sunt nihil suscipit vel vero consequuntur dolorem perferendis, impedit veniam dolorum quaerat incidunt dignissimos dolor. Inventore!
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-item color="tertiary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illum alias eum dolor illo vel tenetur id explicabo quae, ea vitae nobis eos corrupti voluptas fugit ratione quisquam officia quo.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quidem officia, harum provident quos deleniti voluptate magni corrupti minima modi exercitationem maxime, sunt adipisci. A dolor soluta tempore omnis animi!
    </ion-card-content>
  </ion-card>

</ion-content>
